.footer {
	height: 300px;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer h4 {
	color: var(--primary);
	font-size: 1.2rem;
	margin: 80px 0;
}
.footer--links {
	width: 50%;
	display: flex;
	justify-content: space-between;
}
.footer--links a {
	color: var(--primary);
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: 700;
	transition: all 0.2s ease-in-out;
}
.footer--links a:hover {
	color: var(--accent);
}
@media (max-width: 768px) {
	.footer--links {
		width: 80%;
		justify-content: space-around;
	}
}
