.multiplechoice {
	/* background-color: chartreuse; */
	margin: 4.5% 2.5% 2.5% 2.5%;
	width: 650px;
	min-height: 425px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 2px rgb(218, 216, 216);
	transition: all 0.2s ease-in-out;
	display: flex;
	flex-direction: column;
	scroll-margin-top: 45px;
	background-color: var(--background);
}
.multiplechoice--header {
	min-height: 250px;
	margin: 0 20px;
}
.multiplechoice--header--headings {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.multiplechoice--header--headings--type,
.multiplechoice--header--headings--number {
	color: var(--accent);
	font-size: 20px;
	margin: 20px 0;
}
.multiplechoice--header--description {
	width: calc(100% - 42px);
	border-color: transparent;
	resize: none;
	overflow-y: hidden;
	box-sizing: border-box;
	font-size: 18px;
	line-height: 24px;
	font-family: "Poppins";
	color: var(--primary);
	background-color: transparent;
	margin: 0 30px 20px 20px;
	padding: 0;
	height: auto;
}
.multiplechoice--header--description:focus {
	outline: none;
}
.multiplechoice--answer {
	min-height: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
.multiplechoice--answer--container {
	height: 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 30px;
}
.multiplechoice--answer--label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 275px;
	min-height: 45px;
	line-height: 20px;
	border-radius: 20px;
	font-size: 13px;
	text-align: center;
	background-color: var(--background);
	outline: lightgray solid 1.5px;
	transition: all 0.275s ease-in-out;
}
.multiplechoice--answer--label:hover {
	cursor: pointer;
}
.multiplechoice--answer--label--radio {
	width: 0px;
}
