.studyoption {
	display: flex;
	box-shadow: 0px 0px 10px 2px rgb(218, 216, 216);
	width: 90%;
	min-height: 65px;
	height: fit-content;
	margin: 10px;
	padding: 15px 20px;
	border-radius: 30px;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	background-color: var(--background);
	justify-content: space-between;
	align-items: center;
}
.studyoption:hover {
	box-shadow: 0px 0px 20px 2px var(--accent);
	transition: all 0.2s ease-in-out;
}
.studyoption--left {
	display: flex;
	flex-direction: column;
}
.studyoption--left--heading {
	color: var(--primary);
	margin: 0;
	font-size: 19px;
}
.studyoption--top--image {
	width: 50px;
	height: 50px;
	filter: invert(39%) sepia(70%) saturate(1008%) hue-rotate(236deg)
		brightness(98%) contrast(98%);
}
.studyoption--left--desc {
	font-size: 13px;
	color: var(--primary);
	margin: 9px 0 0 0;
}
